

.Home, .ContentFrame-body {
	background-color: usetheme(background-white);
}

.Home-content {
	// padding-bottom: 90px;
	position: relative;
	z-index: 30;
}



.Form-body {
	// awful override :)
	padding: 0;
}

._loader.__circle {
	top: -4px;
	&:before {
		background-color: white;
	}
}




._pd-bg-color-ltgray {
	background-color: #eef5fb
}


.Header {
	background-color: usetheme(background-light);
}


body {
	background-color: usetheme(body-bg);
	color: usetheme(brand-copy);
}

// footer feature 
.__content-frame {
	// min-height: 100vh;
	// background-color: blue;
	position: relative;
	z-index: 10; // main content z
	background-color: usetheme(background-white);
}

.__content-footer {
	// background-color: red;
	z-index: 0; // footer z
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;

  display: grid;
  place-items: center; // whoa
}


.__content-body {
	position: relative;
	z-index: 30;
}


.Formlet-input-cta {
	._form-input {
		width: 100%;
	}
}


// homepage

.Home {
	width: 100%;
	overflow: hidden;
  background-color: usetheme(background-white);
}



.Footer {
  .Footer-content {
    // padding-top: $size-9;
    position: relative;
    z-index: 10;
  }

  // text-align: center;
  background-color: usetheme(background-light);
}


 

.ScheduleItem {

	.date {
		// font-weight: bold;
		font-size: $size;
		padding-bottom: $size;
	}

	._tag.open { 
		background-color: usetheme(brand-active);
		color: white;
	}
}


 
input.__action, button.__action, ._button.__action {
	border: 2px solid usetheme(brand);
	background-color: usetheme(brand);
	color: white;
	font-weight: normal;

	&:hover {
		background-color: white !important;
		border-color: usetheme(brand) !important;
		color: usetheme(brand) !important; 
	}
	&:active, &:focus {
		background-color: usetheme(brand-soft) !important; // darken(usetheme(brand-active), 0.2);
		color: usetheme(brand) !important;
	}
}

input.__massive, button.__massive, ._button.__massive {
	padding: $size-3 $size-4;
	font-size: $size-3;
	border-radius: $size-3;
  border: solid $border-thin;
  @extend ._font-display;

  &:focus {
    border-color: usetheme(brand);
    background-color: usetheme(brand-soft);
    color: usetheme(brand) !important;
  }
  &:hover {
    border-color: usetheme(brand) !important;
    background-color: usetheme(background-light) !important;
    color: usetheme(brand) !important;
  }
}




@media (min-width: 768px) {
	._section-article {
		max-width: 32rem;
	}
}














body {
  background-color: usetheme(body-bg); //$color-gray;
  color: usetheme(copy);
  font-family: usetheme(font-sans);
  font-size: $size;
  line-height: $sizeline;
}




button {
	&.__short {
		line-height: 0;
	}
}



