/* TABLE OF CONTENT ---------------------------------------------------------------- */


#toc a[href]::after {
  content: target-counter(attr(href), page);
  float: right;
}

#toc li a::after, .toc li a::after{
  right: 0;
  /* background-color: #f8f2ec; */
  padding-left: 6px;
   
  /* right: 62px; */
  /* position: static !important; */
  position: absolute;
  background: white;
}



#toc li, .toc li{
  overflow-x: hidden;
  display: flex; 
}

#toc li::after, .toc li::after{
  content: ".................................................................................................................................................";
  float: left;
  width: 0;
  padding-left: 5px;
  letter-spacing: 2px;
}

 
#toc li a{
  right: 0;
}




#author-index a[href]::after {
  /* content: " (p." target-counter(attr(href), page) ")"; */
  /* content: " (p." target-counter(attr(href), page) ") "; */
  /* content: "(p" target-counter(attr(href), page) ")"; */
  content: " (" target-counter(attr(href), page) ")";
  /* content: "p" target-counter(attr(href), page); */
  /* float: right; */
}
  .author-index-name::after{
    content: ".................................................................................................................................................";
    float: left;
    width: 0;
    padding-left: 5px;
    letter-spacing: 2px;
  }
  #author-index li {
    overflow: hidden;
  }
  .author-index-links  {
    float: right;
  }
  .author-index-link:nth-child(n+2) {
    /* background: blue !important; */
  }
  ._second-link::before {
    content: ", "
  }
  .author-index-link, .author-index-name {
    background: white;
  }


/* list-counter */
#toc { counter-reset: numtoc; }
#toc .chap { counter-increment: numtoc; }
#toc .chap::before { 
    content: counter(numtoc, upper-roman) ". "; 
    padding-right: 5px;
    /* display: inline-block;
    width: 45px; */

}

#toc li, .toc li{ margin-bottom: calc(var(--baseline)*1); }

#toc-introduction{ margin-bottom: calc(var(--baseline)*1.5)!important; }
#toc-colophon{ margin-top: calc(var(--baseline)*1.5)!important; }